@import models.Mode

@this(
    mainTemplate: MainTemplate,
    formHelper: FormWithCSRF
)

@(form: Form[_], mode: Mode, draftId: String)(implicit request: Request[_], messages: Messages)

@mainTemplate(
    title = s"\${errorPrefix(form)} \${messages("$className;format="decap"$.title")}"
    ) {

    @formHelper(action = $className;format="cap"$Controller.onSubmit(mode, draftId), 'autoComplete -> "off") {

        @back_link()
        
        @errorSummary(form.errors)

        @heading("$className;format="decap"$.heading")

        @inputText(
            field = form("field1"),
            label = messages("$className;format="decap"$.field1")
        )

        @inputText(
            field = form("field2"),
            label = messages("$className;format="decap"$.field2")
        )

        @submitButton()
    }
}
