.govuk-notification-banner {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 19px;

    border: 5px solid $blue;
    margin-bottom: 8px;

    background-color: $blue;

    &:focus {
      outline: 3px solid $govuk-focus-colour;
    }
}

.govuk-notification-banner__header {
    padding: 2px govuk-spacing(3) govuk-spacing(1);
    // Ensures the notification header appears separate to the notification body text in high contrast mode
    border-bottom: 1px solid transparent;

    @include media(tablet) {
      padding: 2px govuk-spacing(4) govuk-spacing(1);
    }
}

.govuk-notification-banner__title {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: $white;
}

.govuk-notification-banner__content {
    color: $govuk-text-colour;
    padding: govuk-spacing(3);
    background-color: $white;

    @include media(tablet) {
        padding: govuk-spacing(4);
    }
}

.govuk-notification-banner__heading {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}