@import controllers.routes._
@import models.Mode

@this(
    main_template: MainTemplate,
    formHelper: FormWithCSRF
)

@(form: Form[_], mode: Mode, draftId: String)(implicit request: Request[_], messages: Messages)

@main_template(
    title = s"${errorPrefix(form)} ${messages("settlorIndividualNINO.title")}"
    ) {

    @formHelper(action = SettlorIndividualNINOController.onSubmit(mode, draftId), 'autoComplete -> "off") {

        @components.back_link()

        @components.error_summary(form.errors)

        @components.heading("settlorIndividualNINO.heading")

        @components.input_text(
          field = form("value"),
          label = messages("settlorIndividualNINO.heading"),
          labelClass = Some("visually-hidden")
        )

        @components.submit_button()
    }
}
